.logo {
    width: 80px;
    margin-top: .25em;
    margin-bottom: .25em;
    margin-right: .5em;
}

.container-fluid {
    margin-right: 1.25em;
    margin-left: 1.25em;
}

.btn-primary {
    color: white;
    background-color: #0B589C;
}

.offcanvas {
    padding-left: .5em;
}

@media (min-width: 992px) {
   .button-book-now-mobile {
    display: none;
} 
}

@media (max-width: 992px) {
    .button-customer-support {
     margin-top: .5em;
 } 
    .button-book-now {
     margin-top: .5em;
 } 
 }

@media (max-width: 364px) {
    .button-book-now-mobile {
     display: none;
 } 
 }

 @media (max-width: 370px) {
    .button-customer-support {
        margin-top: .5em;
    }
    .button-book-now {
     margin-top: 1.25em;
 } 
 }







